    <footer>
        <div class="containerFooter">            
            <div class="row">

                <div class="col-md-3">
                    <p>Contato pelas as redes sociais: </p>
                    <div class="redes-sociais">
                        
                        <a href="https://www.linkedin.com/in/hiranneri/">
                            <img src="../../linkedin.png" alt="Linkedin Hiran Neri">
                        </a>
                        <a href="https://github.com/hiranneri" id="imgGithub">
                            <img src="../../github.png" alt="Github Hiran Neri">
                        </a>
            
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="avisoLegal">                      
                            
                        O site não oferece tratamento ou aconselhamento imediato para pessoas em crise suícida. 
                        Em caso de crise, ligue para 188 (CVV). 
                        Em caso de emergência, procure um atendimento no hospital mais próximo.                          
                       
                    </div>
                </div>
            </div>
        </div>
        
       
        


    </footer>
</div> 
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    
  
  
</body>

</html>



  
    
