.bg-light{
  background-color: #dfeff7!important;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);  
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-color: #eff3f5;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

.btnEnviar {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  background-color: #6ca5dc;
}
.icone-principal{
  height: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icone-nav{
  height: 3em;
}
#marcado{
  font-weight: 600;
}
.info{
  font-size: small;
}
.btnCadastroPaciente{
  width: 45%;
  height: 90px;
}
.btnCadastroPsicologo{
  width: 45%;
  height: 90px;
}