<%- include('includes/head404'); %>
<%- include('includes/nav'); %>
<h1>Ops!</h1>
<div class="wrapper">
  <img src="./perdido.svg" alt="Perdido" id="icone-perdido">
  <div class="alert alert-info aviso" role="alert">
    Não conseguimos localizar o caminho. 
    Volte a página anterior
  </div>
</div>
