<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde Mental</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="container">
        <h1></h1>      
        <form action="/" method="post">
          <input type="hidden" name="_csrf" value="">
          
          <label>{EMAIL}</label>
          <input type="password" name="senha" placeholder="Digite a sua senha">         
          <button>Próximo</button>
        </form>
      </section>
</body>
</html>