.bg-light{
  background-color: #dfeff7!important;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);  
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  background-color: #eff3f5;
}

.container {
  max-width: 640px;

  padding: 20px;
  border-radius: 10px;
}
.perfil{
  margin: 0 auto;
  
}
img{
  height: 200px;
  width: 200px;
}
